<template>
    <NuxtLayout name="default-layout">
        <template #content_body>
            <!-- Hello World - {{store.state}} -->
            <div style="background-color: #ececec; padding: 5px">
                <a-row :gutter="24">
                    <a-col 
                        v-for="(room,key) in pageInfo.rooms"
                        :key="key" 
                        :span="8">
                        <RoomCard
                            :item="room"
                            :style="{'max-height':'300px'}">
                         </RoomCard>
                    </a-col>  
                </a-row>
            </div>        
        </template>
    </NuxtLayout>
</template>
<script setup>
    import { useStore } from "vuex";
    import RoomCard from '@/components/customer/shared/RoomCard.vue';
    const store = useStore();
    //console.log("store=",store);
    const room_list=[
                        {
                            id:1,
                            name:'Standard Room',
                            description:'hello description',
                            maximum_occupancy:'',
                            price:1000,
                            photo:'https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png',
                            amenities:'wifi,swimmiing',
                        },
                        {
                            id:2,
                            name:'Delux Room',
                            description:'hello description 2',
                            maximum_occupancy:'',
                            price:3000,
                            amenities:'wifi',
                            photo:'https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png',
                        },
                    ];
    const pageInfo=reactive({
        rooms:room_list,
    });
    onMounted(() => {
        requestPermission();
    })
    const requestPermission=async()=>{
      try {
        const permission = await Notification.requestPermission();
        console.log("GIVEN notify perms");
        console.log(permission);
      } catch (e) {
        console.error("Error : ", e);
      }
    }
    definePageMeta({
      layout: false,
      middleware: ["auth"]
    });
</script>