<template>
    <slot />
</template>
<script setup>
    import { useStore } from "vuex";
    const store = useStore();
    const router=useRouter();
    if(!store.state.customer.auth.isAuthenticate)
        router.push("/customer/login");
</script>