<template>
    <a-card
        style="width: 100%"
        :tab-list="tabListNoTitle"
        :active-tab-key="noTitleKey"
        @tabChange="key => onTabChange(key)">

        <p v-if="noTitleKey === 'create'">
            <Booking></Booking>
        </p>
        <p v-else-if="noTitleKey === 'list'">
            <BookingList></BookingList>
        </p>
        <p v-else>Not Found</p>
  </a-card>
</template>
<script setup>
    import Booking from '@/components/customer/input/Booking.vue';
    import BookingList from '@/components/customer/input/BookingList.vue';

    // import { initializeApp } from "firebase/app";
    // import { getAnalytics } from "firebase/analytics";
    // const firebaseConfig = {
    //     apiKey: "AIzaSyDBVCVV0pS2hZzhlmRA0UiZBsCTY2d0c7A",
    //     authDomain: "hotel-booking-61c6b.firebaseapp.com",
    //     projectId: "hotel-booking-61c6b",
    //     storageBucket: "hotel-booking-61c6b.appspot.com",
    //     messagingSenderId: "795794744522",
    //     appId: "1:795794744522:web:0cd22439bb35efcfef0033",
    //     measurementId: "G-5T9NCWBW3V"
    // };
    // const app = initializeApp(firebaseConfig);
    // const analytics = getAnalytics(app);

    const noTitleKey = ref('create');
    const tabListNoTitle = [{
            key: 'create',
            tab: 'Booking',
        }, 
        {
            key: 'list',
            tab: 'Booking List',
        }];
    const onTabChange = (value, type) => {
      noTitleKey.value = value;
    };
</script>