<template>
    <a-row type="flex" justify="center">
        <a-col :xs="24" :sm="4" :md="6" :lg="8" :xl="10"> 
            <a-card title="Booking">
                <a-form
                    :model="formState"
                    v-bind="layout"
                    name="nest-messages"
                    :validate-messages="validateMessages"
                    @finish="onFinish">

                    
                    <a-form-item :name="['user', 'check_in_date']" label="Check In Date">
                        <a-date-picker 
                            v-model:value="formState.user.check_in_date" 
                            :format="dateFormat" />
                    </a-form-item>
                    <a-form-item :name="['user', 'check_out_date']" label="Check Out Date">
                        <a-date-picker 
                            v-model:value="formState.user.check_out_date" 
                            :format="dateFormat" />
                    </a-form-item>
                    <a-form-item :name="['user', 'name']" label="Name" :rules="[{ required: true }]">
                        <a-input v-model:value="formState.user.name" />
                    </a-form-item>
                    <a-form-item :name="['user', 'contact_no']" label="Contact No" :rules="[{ required: true }]">
                        <a-input v-model:value="formState.user.contact_no" />
                    </a-form-item>
                    <a-form-item :name="['user', 'address']" label="Address">
                        <a-textarea v-model:value="formState.user.address" />
                    </a-form-item>

                    <a-form-item :wrapper-col="{ ...layout.wrapperCol, offset: 8 }">
                        <a-button type="primary" html-type="submit">Submit</a-button>
                    </a-form-item>
                </a-form>
            </a-card>
        </a-col>
    </a-row>
</template>
<script setup>
    import { defineComponent, reactive } from 'vue';
    import dayjs from 'dayjs';
    const layout = {
      labelCol: {
        span: 8,
      },
      wrapperCol: {
        span: 16,
      },
    };
    const dateFormat = 'YYYY/MM/DD';
    const validateMessages = {
      required: '${label} is required!',
    //   types: {
    //     email: '${label} is not a valid email!',
    //     number: '${label} is not a valid number!',
    //   },
    //   number: {
    //     range: '${label} must be between ${min} and ${max}',
    //   },
    };
    // const disabledDate = current => {
    //   return current && current < moment().endOf('day');
    // };
    const formState = reactive({
      user: {
        name: '',
        check_in_date: dayjs('2023/01/12'),
        email: '',
        contact_no:'',
        check_out_date: dayjs('2023/01/12'),
        address: '',
      },
    });
    const onFinish = values => {
      console.log('Success:', values);
    };
</script>