<template>
    <AuthChecker>
        <NuxtLayout name="default-layout">
            <template #content_body>               
                <BookingTab></BookingTab>    
            </template>
        </NuxtLayout>
    </AuthChecker>
</template>
<script setup>
    import { useStore } from "vuex";
    import AuthChecker from '@/components/customer/shared/AuthChecker.vue';
    import BookingTab from '@/components/customer/input/BookingTab.vue';
    
    const store = useStore();
    definePageMeta({
      layout: false,
      middleware: ["auth"]
    });
</script>